{% extends 'shopApp/base.html'%}
<!DOCTYPE html>
{% block body_block%}

   <h1>Loging User : {{request.user|title}}</h1>

      <div class="container" align="center">
         <hr><h1>PRODUCTS LIST</h1><hr>
         <table id="list" border=10px>
           <thead>
             <th>PRODUCTS</th>
             <th>DETAILS</th>
             <th>DELETE</th>
             <th>UPDATE</th>
           </thead>
            <tr>
            </tr>
         </table>

         <!-- <hr><button class="btn-lg btn btn-dark">Create Product</button><hr> -->

         <div class="container" align="center">
             <hr><h1>PRODUCT DETAIL</h1><hr>
             <table border=10px>
                 <thead>
                    <th>PRODUCT ID</th>
                    <th>PRODUCT IMAGE</th>
                    <th>PRODUCT NAME</th>
                    <th>PRODUCT PRICE</th>
                    <th>PRODUCT DETAIL</th>
                    <th>OWNER</th>
                 </thead>
                 <tr>
                   <td id="ID"></td>
                   <td id="IMAGE"></td>
                   <!-- <td><img  id="IMAGE" src="smiley.gif" alt="Smiley face" height="42" width="42"></td> -->
                   <td id="NAME"></td>
                   <td id="PRICE"></td>
                   <td id="DETAIL"></td>
                   <td id="OWNER"></td>
                 </tr>
             </table><hr>
         </div>

          <form id="new_product_form">
            <div class="container" align="center">
              <label for="name">Product Name:</label><br>
              <input type="text" name="name" id="name" ><br>
              <label for="detail">Product Detail:</label><br>
              <input type="text" id="detail"><br>
              <label for="price">Product Price:</label><br>
              <input type="number" id="price"><br><br>
              <label for="image">Select image:</label>
              <input type="file" id="image" name="img" accept="image/*"><br><br>
              <label for="owner">Owner:</label><br>
              <input type="text" id="owner" ><br><hr>
              <button id="Save"type="submit" class="btn-success" >SUBMIT</button><hr>
              {{ csrf_token }}
            </div>
          </form>


            <form id="update_product_form">
              <div class="container" align="center">
                <input type="text" id="u_id"  ><br>
                <label for="name">Product Name:</label><br>
                <input type="text" id="u_name" ><br>
                <label for="detail">Product Detail:</label><br>
                <input type="text" id="u_detail"><br>
                <label for="price">Product Price:</label><br>
                <input type="number" id="u_price"><br><br>
                <button id="Update"type="submit" class="btn-success" >SUBMIT</button><hr>
                {{ csrf_token }}
              </div>
            </form>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
        // var url = "{url ""}"
         $.get( "http://127.0.0.1:8000/products/", function( data ) {
             console.log(data)
             appendData(data);
           });
         function appendData(data) {
         var tr;
         for (var i = 0; i < data.length; i++) {
             tr = $('<tr/>');
             tr.append("<td>" + data[i].item_name + "</td>");

             let id = data[i].id
             console.log(id)
             tr.append('<td><button onclick = "showDetail('+ id +')" class="btn-lg btn btn-dark">Product Detail</button></td>')
             tr.append('<td><button onclick = "destroy('+ id +')" class="btn-lg btn btn-dark">Delete Product</button></td>')
             tr.append('<td><button onclick = "updatef('+ id +')" class="btn-lg btn btn-dark">Update Product</button></td>')
             $('#list').append(tr);
         }
         }


         function showDetail(id) {
           console.log(id);
           $.get( "http://127.0.0.1:8000/products/"+id+"/", function( data ) {
              console.log(data)
                  $('#ID').text(data.id);
                  $('#IMAGE').text(data.item_image);
                  $('#NAME').text(data.item_name);
                  $('#PRICE').text(data.item_price);
                  $('#DETAIL').text(data.item_detail);
                  $('#OWNER').text(data.owner);
             });
         }


         function destroy(id) {
           console.log(id);
           url = "http://127.0.0.1:8000/products/"+id+"/destroy/"
           data = {csrfmiddlewaretoken: "{{ csrf_token }}" }
           debugger
             $.ajax({
                url: url,
                type:"DELETE",
                data: data,
                success: function (data) {
                    alert("A Product has been deleted.");
                    window.location.reload()
                }
                    });
            }


            function updatef(id) {
              console.log(id);
              $.get( "http://127.0.0.1:8000/products/"+id+"/", function( data ) {
                     console.log("data is", data)
                     $('#u_id').val(data.id);
                     $('#u_name').val(data.item_name);
                     $('#u_price').val(data.item_price);
                     $('#u_detail').val(data.item_detail);
                });
            }


          // CREATE PRODUCT
          $(document).ready(function () {
          $("#Save").click(function () {
           // debugger;
           var formData = new FormData();
           var file = $('#image')[0].files[0]
           var token = "{{ csrf_token }}"
           var name = $('#name').val();
           var price = $('#price').val();
           var product_detail = $('#detail').val();
           var owner =$('#owner').val();

           formData.append("item_image", file, file.name);
           formData.append("item_name", name);
           formData.append("item_price", price);
           formData.append("item_detail",product_detail);
           formData.append("owner", owner);
           formData.append("csrfmiddlewaretoken", token);
           url = 'http://127.0.0.1:8000/create/'
           // debugger
                $.ajax({
                 type: "POST",
                 enctype: 'multipart/form-data',
                 url:url,
                 data: formData,
                 processData: false,
                 contentType: false,
                 cache: false,
                 timeout: 60000,
                 success: function (data) {
                   alert('product add successfully')
                     console.log("SUCCESS : ", data);
                     window.location.reload()
                 },
                 error: function (data) {
                   alert('something went wrong')
                     console.log("ERROR : ", e);
                 }
             });
            });
          });


        // UPDATE PRODUCTS INFORMATIONS
              $(document).ready(function () {
              $("#Update").click(function () {
               debugger;
               var formData = new FormData();
               var u_id = $('#u_id').val();
               var token = "{{ csrf_token }}"
               var name = $('#u_name').val();
               var price = $('#u_price').val();
               var product_detail = $('#u_detail').val();
               url = "http://127.0.0.1:8000/update/"+u_id+"/";


               formData.append("item_name", name);
               formData.append("item_price", price);
               formData.append("item_detail",product_detail);
               formData.append("csrfmiddlewaretoken", token);
                    $.ajax({
                     type: "PATCH",
                     enctype: 'multipart/form-data',
                     url:url,
                     data: formData,
                     processData: false,
                     contentType: false,
                     cache: false,
                     timeout: 60000,
                     success: function (data) {
                       alert('product Updated successfully')
                         console.log("SUCCESS : ", data);
                         // window.location.reload()
                     },
                     error: function (data) {
                       alert('something went wrong')
                         console.log("ERROR : ", e);
                     }
                 });
                });
              });



// $(document).ready(function () {
//  $("#Save").click(function () {
//    var person = new Object();
//       debugger;
//       person.pname = $('#name').val();
//       person.price = $('#price').val();
//       person.product_detail = $('#detail').val();
//       // person.owner = $('#owner').val();
//       console.log(person)
//       var formData = new FormData();
//       var file = $('#image')[0].files[0]
//       var token = "{{ csrf_token }}"
//       formData.append("item_image", file, file.name);
//       formData.append("item_name", person.pname);
//       formData.append("item_price", person.price);
//       formData.append("item_detail", person.product_detail);
//       formData.append("owner", request.user);
//       formData.append("csrfmiddlewaretoken", token);
//       url = 'http://127.0.0.1:8000/create/'
//       // debugger
//            $.ajax({
//             type: "POST",
//             enctype: 'multipart/form-data',
//             url:url,
//             data: formData,
//             processData: false,
//             contentType: false,
//             cache: false,
//             timeout: 600000,
//             success: function (data) {
//               alert('product add successfully')
//                 console.log("SUCCESS : ", data);
//             },
//             error: function (data) {
//               alert('something went wrong')
//                 console.log("ERROR : ", e);
//             }
//         });
//        });
//   });

            // $( "#new_product_form" ).submit(function( event ) {
            //   alert( "Handler for .submit() called." );
            //   event.preventDefault();
            //   debugger;
            //   var data = {
            //     item_name:$('#name').val(),
            //     item_detail:$('#detail').val(),
            //     item_price:$('#price').val(),
            //     item_image:$('#image').val(),
            //     owner:$('#owner').val(),
            //     // csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            //     csrfmiddlewaretoken:"{{ csrf_token }}"
            //   }
            //   console.log(data);
            //   $.ajax({
            //       type: "POST",
            //       url: 'http://127.0.0.1:8000/create/',
            //       data: data,
            //       enctype: 'multipart/form-data'
            //       dataType : 'json',
            //       crossDomain: true,
            //       success:  function (data) {
            //                  alert("A Product has been created.");
            //              }
            //     });
            //   });
        </script>
   </body>
</html>
{% endblock %}
