<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{ object.id }}</h1>
    <p>{{ object.item_image }}</p>
    <p>{{ object.item_name }}</p>
    <p>{{ object.item_price }}</p>
    <p>{{ object.item_detail }}</p>
    <p>{{ object.owner }}</p>

    <!-- <h1>{{ object.headline }}</h1>
    <p>{{ object.content }}</p>
    <p>Reporter: {{ object.reporter }}</p>
    <p>Published: {{ object.pub_date|date }}</p>
    <p>Date: {{ now|date }}</p> -->
  </body>
</html>
